
header {
  height: 20vh;
}

button {
  color: #fff;
  height: 42px;
  border-radius: 10%;
  float: right;
}


.card {
  background-color: #fff;
  text-align: right;

}

.quote {
  margin-top: 20px;
  background-color: #fff;
  /*height: 50%;*/
  font-size: 2em;
}

.attrib {
  height: 25%;
  font-size: 3em;
  text-align: right;
}

.button-row {
  margin-bottom: 25px;
}

.fa-quote-left{
  content:"\f10d";
}

.fa-tumblr-square{
  font-size: 3em;
  content:"\f174";
}

.fa-twitter-square {
  content:"\f099";
  font-size: 3em;
}

i {
  margin-left: 5px;
}
.outline {
  border: 3px solid black;  
}
