
header {
  height: 20vh;
}

button {
  color: #fff;
  height: 42px;
  border-radius: 10%;
  float: right;
}

.footerLink {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  margin: auto;

}

.attribFooter {
  text-align: center;
}


.card {
  background-color: #fff;
  /*text-align: right;*/
}

.social a {
  text-decoration: none;
}

.quote {
  margin-top: 20px;
  background-color: #fff;
  /*height: 50%;*/
  font-size: 2em;
}

.attrib {
  height: 25%;
  font-size: 3em;
  text-align: right;
}

.button-row {
  margin-bottom: 25px;
}

.fa-quote-left{
  content:"\f10d";
}

.fa-twitter-square {
  content:"\f099";
  font-size: 3em;
}

i {
  margin-left: 5px;
}

.attribFooter a, .footerLink a:link, .footerLink a:visited, .footerLink a:hover, .footerLink a:active, .footerLink a:focus {
  text-decoration: none;
  color: #fff;
}
